{% extends 'base_leguay.html.twig' %}

{% block title %}Modifier son beneficiare
{% endblock %}

{% block body %}
	<div class="content">
		<div class="small-content bg-slate-200 p-5">
			{{ form_start(form) }}
				{# {% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %} #}

				<h1 class="h3 mb-3 font-weight-normal">Modification du bénéficiaire</h1>

        {{ form_row(form.lastName) }}
				{{ form_row(form.firstName) }}
        {{ form_row(form.birthDate) }}
        {{ form_row(form.birthPlace) }}
        {{ form_row(form.address1) }}
        {{ form_row(form.address2) }}
        {{ form_row(form.cp) }}
        {{ form_row(form.city) }}
        {{ form_row(form.country) }}

				{# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}

				<div class="flex justify-center">
					<button class="btn btn-primary my-5" type="submit">
						Valider
					</button>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
