<style>
	.content {
		width: 100%;
	}

	.logo-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 20px;
		width: 400px;
		height: 120px;
	}

	.logo {
		width: 400px;
		height: 120px;
	}

	body {
		font-family: Verdana, Geneva, sans-serif;
	}

	h1 {
		text-align: left;
		font-size: 20px;
	}

	h2 {
		text-align: left;
		font-size: 14px;
	}

	.beneficiary-info {
    width:70%;
		background-color: #F2F2F2;
		padding: 5px;
		margin: 0 100px;
		display: inline-block;
	}

	.authentification-info {
    width:70%;
		background-color: #F2F2F2;
		padding: 5px;
		margin: 0 100px;
		display: inline-block;
	}

	.summary-content {
		margin: 10px;
		height: auto;
	}

	.label {
		width: 300px;
		display: inline-block;
		text-align: right;
		font-weight: bold;
		margin-right: 10px;
	}

	.value {
		display: inline-block;
	}
</style>

<div class="content">
	<div class="logo-container">
		<img src="images/LOGO_leguay.png" alt="Logo" class="logo">
	</div>
	<h1>Nouveau bénéficiaire :</h1>
	<div class="beneficiary-info">
		<div class="summary-content">
			<div>
				<div class="label">Nom :</div>
				<div class="value">{{ data.lastName }}</div>
			</div>
			<div>
				<div class="label">Prénom :</div>
				<div class="value">{{ data.firstName }}</div>
			</div>
			<div>
				<div class="label">Date de naissance :</div>
				<div class="value">{{ data.birthDate }}</div>
			</div>
			<div>
				<div class="label">Lieu de naissance :</div>
				<div class="value">{{ data.birthPlace }}</div>
			</div>
			<div>
				<div class="label">Adresse :</div>
				<div class="value">{{ data.address1 }}</div>
			</div>
			<div>
				{% if data.address2 %}
					<div class="label"></div>
					<div class="value">{{ data.address2 }}</div>
				</div>
				<div>
				{% endif %}
				<div class="label">Code postal :</div>
				<div class="value">{{ data.cp }}</div>
			</div>
			<div>
				<div class="label">Ville :</div>
				<div class="value">{{ data.city }}</div>
			</div>
			<div>
				<div class="label">Pays :</div>
				<div class="value">{{ data.country }}</div>
			</div>
			<div></div>
		</div>
	</div>
	<h1>Authentification :</h1>
	<div class="authentification-info">
		<div class="summary-content">
			<div>
				<div class="label">Nom :</div>
				<div class="value">xxxxxxxxxxx</div>
			</div>
			<div>
				<div class="label">Prénom :</div>
				<div class="value">xxxxxxxxxxx</div>
			</div>
			<div>
				<div class="label">Date et heure de la connexion :</div>
				<div class="value">xxxxxxxxxxx</div>
			</div>
			<div>
				<div class="label">Adresse IP de l'utilisateur :</div>
				<div class="value">xxxxxxxxxxx</div>
			</div>
			<div>
				<div class="label">Identité fourni par :</div>
				<div class="value">xxxxxxxxxxx</div>
			</div>
		</div>
	</div>
</div>
