{% extends 'base.html.twig' %}

{% block title %}Liste des comptes
{% endblock %}

{% block content %}
	<div class="flex flex-col justify-center">
		<div class="md:basis-10/12 basis-full">
			<div class="my-2">
				<h3>Liste des comptes</h3>
			</div>
			<div>Sur cette page on peut modifier les emails, et les mots de passe utilisateurs.</div>
			<div>On peut également supprimer les utilisateurs et leurs dependences.</div>
			<div class="flex flex-col mt-3">
				<div class="flex flex-row bg-zinc-500 rounded text-white text-center font-spartan text-lg">
					<span class="basis-10/12 text-start mt-1 ps-8">Compte</span>
					<span class="basis-1/12 text-center mt-1">
						<i class="fa-solid fa-pen-to-square"></i>
					</span>
					{# <span class="basis-1/12 text-center mt-1">
						<i class="fa-solid fa-pen-to-square"></i>
					</span> #}
					<span class="basis-1/12 text-center mt-1">
						<i class="fa-solid fa-trash-can"></i>
					</span>
				</div>
				{% for user in users %}
					<div class="flex flex-row align-items-center mt-3 border-bottom text-lg">
						<div class="basis-10/12">
						<a href=" {{ path('lobby', {'_switch_user': user.email})}}" class="link-secondary flex justify-start align-middle m-0 ms-2">
						  <span class="btn bg-transparent btn-sm align-middle overflow-hidden"><svg class="size-6"  fill="lightgrey"><use xlink:href="{{ asset('icons/icons.svg') }}#icon-tray-down"  transform="rotate(270, 12, 12)"></use></svg></span>
            <div class="align-middle ms-2 mt-2">{{ user.email }}</div>
							</a>
						</div>
						<span class="basis-1/12 text-center">
							<a href="{{ path('account_edit', {id: user.id}) }}" class="btn btn-sm btn-secondary p-1 m-0">
								<i class="fa-solid fa-gear"></i>
							</a>
						</span>
						{# <span class="basis-1/12 text-center">
							<a href="{{ path('app_admin_reset_password', {id: user.id}) }}" class="btn btn-secondary btn-sm">
								<i class="fa-solid fa-lock"></i>
							</a>
						</span> #}
						<span class="basis-1/12 text-center">
							{% if 'ROLE_ADMIN' not in user.roles %}
								<a href="#" onclick="event.preventDefault(); confirm('Confirmez la suppression de {{user.email}} ?') && document.getElementById('js-user-delete-form-{{user.id}}').submit();" class="btn btn-sm btn-danger p-1 m-0">
									<i class="fa-solid fa-trash-can"></i>
								</a>
								<form id="js-user-delete-form-{{user.id}}" action="{{ path('account_delete', {id: user.id}) }}" method="post" style="display: none;">
									<input type="hidden" name="csrf_token" value="{{ csrf_token('user_deletion_' ~ user.id) }}">
									<input type="hidden" name="_method" value="POST">
								</form>
							{% else %}
									<i class="fa-solid fa-ban text-muted"></i>
							{% endif %}
						</span>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
