<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta description="Décorations artisanales - Création de suspension en bois flottés et feuilles en macramé">
			<title>
				{% block title %}{% endblock %}
			</title>
			{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.tailwind.css') }}">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			{% endblock stylesheets %}

			{% block javascripts %}
				{{ importmap('app') }}
			{% endblock javascripts %}

		{% endblock head %}
	</head>
	{% block body %}
		<body>
			<div class="relative bg-red-600">
			<div class="absolute inset-0 opacity-10 pointer-events-none" style="background-image: url('{{ asset('images/scpi/trame_web.png') }}'); background-size: cover; background-position: center;"></div>
			<div class="relative z-10">
				{{ include('scpi/traits/_header.html.twig') }}
				{% block content %}{% endblock content %}
				{# <div class="flex justify-center"></div> #}
				{# {{ render(controller('App\\Controller\\NavController::navbar')) }} #}
				{{ include('scpi/traits/_footer.html.twig') }}
			</div>
			</div>
			</div>
		</body>
	{% endblock body %}
</html>
