{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le lobby!
{% endblock %}

{% block content %}

	<div class="w-full min-h-[calc(100vh-90px)] bg-slate-900 text-teal-300 p-5 md:p-10 pt-14">
		<div class="m-5 md:m-10">
			<div class="w-full">
				<h1 class="text-slate-400">Bienvenue sur le compte de :</h1>
				<div class="text-center w-full ">
					<span class="font-title text-4xl text-amber-400">{{ user.company }}</span>
				</div>
				<div class="text-base mt-16">
					<div class="font-title text-slate-400 text-2xl">A quel service voulez vous accéder ?</div>

					<div class="row flex pt-10">
						<div class="basis-1/6 justify-end text-center text-amber-400 mt-4">
							<a href="{{ path('ezreview_hp') }}" class="text-3xl text-amber-400 ">
								<i class="fa-solid fa-ranking-star mx-2"></i>
							</a>
						</div>
						<div class="basis-5/6 justify-start pt-2">
							<div class="flex">
								<a href="{{ path('ezreview_hp') }}" class="font-title text-2xl text-amber-400">
									Easy review</a>
							</div>
							<p class="font-text  text-slate-400">Une application pour faciliter les commentaires positifs sur Google</p>
						</div>
					</div>

					<div class="row flex pt-10">
						<div class="basis-1/6 justify-end text-center text-amber-400 mt-4">
							<a href="{{ path('app_activities') }}" class="text-3xl text-amber-400 ">
								<i class="fa-solid fa-file-contract mx-2"></i>
							</a>
						</div>
						<div class="basis-5/6 justify-start pt-2">
							<a href="{{ path('app_activities') }}" class="font-title text-2xl text-amber-400">Buisness Activity Managment</a>
							<div class="font-text text-slate-400">Une application pour suivre l'intercation avec vos clients</div>
						</div>
					</div>

					{% if app.user and app.user.email == 'adrien.leguay@leguayassurances.com' %}
						<div class="rowflex pt-10">
							<div class="basis-1/6 justify-end text-center text-amber-400 mt-4">
								<a href="{{ path('app_activities') }}" class="text-3xl text-amber-400 ">
									<i class="fa-solid fa-child-reaching mx-2"></i>
								</a>
							</div>
							<div class="basis-5/6 justify-start pt-2">
								<a href="{{ path('app_beneficiare') }}" class="font-title text-2xl text-amber-400">Changement de bénéficiaire</a>
								<div class="font-text text-slate-400">Une application pour changer le bénéficiaire de votre assurance</div>
							</div>
						</div>
					{% endif %}
					{# {% include 'partials/_test-h.html.twig' %} #}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
