<footer class="bg-black border-t border-gray-800 py-8 mt-12">
	<div class="max-w-7xl mx-auto px-4">
		<div class="flex justify-between items-center">
			<div>
				{# {% if is_granted('ROLE_ADMIN') %}
					<img src="{{ asset('images/scpi/logo-magnacarta-white.svg') }}" alt="Logo Magnacarta, gestion en patrimoine" class="h-16">
				{% else %}
					<a href="{{path('admin')}}">
						<img src="{{ asset('images/scpi/logo-magnacarta-white.svg') }}" alt="Logo Magnacarta, gestion en patrimoine" class="h-16 hover:opacity-80 transition-opacity">
					</a>
				{% endif %} #}
					<a href="{{path('admin')}}">
						<img src="{{ asset('images/scpi/logo-magnacarta-white.svg') }}" alt="Logo Magnacarta, gestion en patrimoine" class="h-16 hover:opacity-80 transition-opacity">
					</a>
			</div>
			<p class="text-white text-right">
				32 rue de la République 69002 Lyon<br>
				Tél. 04 37 24 70 70
			</p>
		</div>
	</div>
</footer>
