							<div class="flex pt-10">
								<div class="basis-1/6 justify-end text-center text-amber-400 mt-4">
									<a href="{{ path('ezreview_hp') }}" class="text-3xl">
										<i class="fa-solid fa-ranking-star mx-2"></i>
									</a>
								</div>
								<div class="basis-5/6 justify-start pt-2">
									<div class="flex">
										<a href="{{ path('ezreview_hp') }}" class="font-title text-2xl text-amber-400">
											Easy review</a>
									</div>
									<p class="font-text  text-slate-400">Une application pour faciliter les commentaires positifs sur Google</p>
								</div>
							</div>
							<div class="flex pt-10">
								<div class="basis-1/6 justify-end text-center text-amber-400 mt-4">
									<a href="{{ path('app_activities') }}" class="text-3xl">
										<i class="fa-solid fa-file-contract mx-2"></i>
									</a>
								</div>
								<div class="basis-5/6 justify-start pt-2">
									<a href="{{ path('app_activities') }}" class="font-title text-2xl text-amber-400">Buisness Activity Managment</a>
									<div class="font-text text-slate-400">Une application pour suivre l'intercation avec vos clients</div>
								</div>
							</div>
							<div class="flex pt-10">
								<div class="basis-1/6 justify-end text-center text-amber-400 mt-4">
									<a href="{{ path('ezreview_hp') }}" class="text-3xl">
										<i class="fa-solid fa-ranking-star mx-2"></i>
									</a>
								</div>
								<div class="basis-5/6 justify-start pt-2">
									<div class="flex">
										<a href="{{ path('ezreview_hp') }}" class="font-title text-2xl text-amber-400">
											Easy review</a>
									</div>
									<p class="font-text  text-slate-400">Une application pour faciliter les commentaires positifs sur Google</p>
								</div>
							</div>
							<div class="flex pt-10">
								<div class="basis-1/6 justify-end text-center text-amber-400 mt-4">
									<a href="{{ path('app_activities') }}" class="text-3xl">
										<i class="fa-solid fa-file-contract mx-2"></i>
									</a>
								</div>
								<div class="basis-5/6 justify-start pt-2">
									<a href="{{ path('app_activities') }}" class="font-title text-2xl text-amber-400">Buisness Activity Managment</a>
									<div class="font-text text-slate-400">Une application pour suivre l'intercation avec vos clients</div>
								</div>
							</div>
							<div class="flex pt-10">
								<div class="basis-1/6 justify-end text-center text-amber-400 mt-4">
									<a href="{{ path('ezreview_hp') }}" class="text-3xl">
										<i class="fa-solid fa-ranking-star mx-2"></i>
									</a>
								</div>
								<div class="basis-5/6 justify-start pt-2">
									<div class="flex">
										<a href="{{ path('ezreview_hp') }}" class="font-title text-2xl text-amber-400">
											Easy review</a>
									</div>
									<p class="font-text  text-slate-400">Une application pour faciliter les commentaires positifs sur Google</p>
								</div>
							</div>
							<div class="flex pt-10">
								<div class="basis-1/6 justify-end text-center text-amber-400 mt-4">
									<a href="{{ path('app_activities') }}" class="text-3xl">
										<i class="fa-solid fa-file-contract mx-2"></i>
									</a>
								</div>
								<div class="basis-5/6 justify-start pt-2">
									<a href="{{ path('app_activities') }}" class="font-title text-2xl text-amber-400">Buisness Activity Managment</a>
									<div class="font-text text-slate-400">Une application pour suivre l'intercation avec vos clients</div>
								</div>
							</div>
