{% apply inline_css %}
<style>
	body {
		background-color: #D6EBE8;
		font-family: "Spartan", sans-serif;
		font-weight: normal;
		font-style: normal;
		color: #7A7A7A;
		font-size: 14px;
	}

	.mail-container {
		margin: 100px auto;
		width: 90%;
	}

	.content {
		border-radius: 0.5em;
		background-color: white;
	}

	form > label {
		margin: 10px;
	}

	.image-container {
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		align-items: center;
		text-align: center;
		display: flex;
		justify-content: space-around;
		overflow: hidden;
		max-height: 200px;
		width: 100%;
	}

	.image-container img {
		margin: 10rem auto;
		display: block;
		width: 100%;
	}

	.mail-content {
		padding: 0 16px 16px;
	}

	.title {
		display: flex;
		padding: 5px;
	}

	.title > h1 {
		font-size: 22px;
		width: max-content;
	}

	.message {
		margin: 20px 0 5px;
		text-align: justify;
	}

	.bouton-container {
		align-items: center;
		display: flex;
		justify-content: space-around;
	}

	.btn {
		display: block;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		border-radius: 5px;
		font-size: 16px;
		width: 40%;
		padding: 10px;
		margin: 0 10px;
	}

	.gd {
		color: #fff;
		background-color: #2E924F;
	}

	.bd {
		color: #000;
		background-color: #F9B338;
	}

	@media(min-width: 992px) {
		.mail-container {
			flex: 0 0 auto;
			width: 100%;
		}
	}
</style>
<div class="mail-container">
	<div class="content">
		{% if context.structure.imageName %}
		<div class="image-container">
			<img src="{{ email.image('@images/companies/' ~ context.structure.imageName) }}" alt="{{ context.structure.name }}">
		</div>
		{% endif %}
		<div class="mail-content">
			<h2>Retour de l'enquete de satisfaction</h2>
			<div class="message">Bonjour,<br><br>
				<p><strong>Note donnée :</strong>
					{{ context.note }} / 10</p>

				<p><strong>Établissement :</strong>
					{{ context.lieu_rdv }}</p>
				<p><strong>Date du rendez-vous :</strong>
					{{ context.date_rdv|format_datetime('full', 'full', locale='fr') }}</p>

				<p><strong>Message du client :</strong><br>
					{{ context.message|raw }}</p>
			</div>
		</div>
	</div>
</div>
{% endapply %}
