{% extends 'scpi/scpi_base.html.twig' %}

{% block title %}Le comparateur
{% endblock %}

{% block content %}
	<div class="pb-16">
		<h1 class="bg-red-600 w-1/2 mx-auto mt-0 pt-6 pb-4 rounded-b-3xl text-white text-center text-4xl font-semibold">{{produit.name}}</h1>
		<div class="bg-white shadow-md border-0 rounded-md my-4 mx-auto w-1/2">

			<table class="w-full table-auto border-collapse">
				<tr class="bg-red-600 bg-gradient-to-r text-white">
					<th class="p-2 text-left">SCPI</th>
					<td></td>
				</tr>
				{% for column in produit.imageName|split('<hr />') %}
					<td></td>
					<td><img src="{{ (column ? vich_uploader_asset(produit) : asset('images/scpi/placeholder.png')) | imagine_filter('rectangle_thumbnail_medium') }}" class="border-2 border-white ml-2"></td>
				{% endfor %}
				{% set my_keys = [ "socGest", "categorie", "capital", "thematique", "capitalisation"] %}
				{% for cle in my_keys %}
					<tr class="border-t border-gray-200 even:bg-gray-50">
						<th class="p-3 text-left font-semibold text-gray-700">{{cle|trans}}
							:</th>
						{% for column in attribute(produit, cle)|split('<hr />') %}
							{% if cle == 'capitalisation' %}
								<td class="p-3">
									<div class="ml-12 w-full">{{ column|raw }}
										M€</div>
								</td>
							{% else %}
								<td class="p-3">
									<div class="ml-12 w-full">{{ column|raw }}</div>
								</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</table>

			<p class="flex justify-around p-4">
				<a href={{ path ('produits') }} class="inline-block px-4 py-2 my-2 bg-red-600 text-white rounded w-1/2 no-underline text-center hover:bg-red-700 transition-colors">
					<i class="fa-solid fa-angles-left mr-2"></i>Retour aux produits</a>
			</p>

		</div>
	</div>
{% endblock content %}
