{% extends 'raw.html.twig' %}

{% block title %}Nouveau beneficiare :
{% endblock %}

{% block content %}

	<div class="content w-4/5">
		<div class="flex bg-slate-200 m-3 p-5 w-full">
				<h1>Recapitulation de votre identité :</h1>
			<div class="flex flex-col">
				<div class="flex">
					<label class="w-44 text-right font-bold me-3">
						Nom :
					</label>
					<span>{{ data.lastName }}</span>
				</div>
				<div class="flex">
					<label class="w-44 text-right font-bold me-3">
						Prénom :
					</label>
					<span>{{ data.firstName }}</span>
				</div>
				<div class="flex">
					<label class="w-44 text-right font-bold me-3">
						Date de naissance :
					</label>
					<span>{{ data.birthDate }}</span>
				</div>
				<div class="flex">
					<label class="w-44 text-right font-bold me-3">
						Lieu de naissance :
					</label>
					<span>{{ data.birthPlace }}</span>
				</div>
				<div class="flex">
					<label class="w-44 text-right font-bold me-3">
						Adresse :
					</label>
					<span>{{ data.address1 }}</span>
				</div>
				{% if data.address2 %}
					<div class="flex">
						<label class="w-44 text-right font-bold me-3"></label>
						<span>{{ data.address2 }}</span>
					</div>
				{% endif %}
				<div class="flex">
					<label class="w-44 text-right font-bold me-3">
						Code postal :
					</label>
					<span>{{ data.cp }}</span>
				</div>
				<div class="flex">
					<label class="w-44 text-right font-bold me-3">
						Ville :
					</label>
					<span>{{ data.city }}</span>
				</div>
				<div class="flex">
					<label class="w-44 text-right font-bold me-3">
						Pays :
					</label>
					<span>{{ data.country }}</span>
				</div>
				<div class="flex justify-center">
					<a href="{{ path('app_idfracon_identify') }}" class="btn btn-primary my-5">
						Modifier
					</a>
				</div>
				{# <div class="flex justify-center">
          <a href="{{ path('app_stream_pdf') }}" class="btn btn-primary my-5">
            Valider
          </a>
        </div> #}
			</div>
		</div>
		<div class="flex justify-center bg-slate-200 m-3 p-5 w-full">
			<div class="flex flex-col">
				<div class="card w-full p-3 m-3">
					<h3>Choix par defaut</h3>
					<div>Ce choix valide la clause par defaut ne demande aucune modification.</div>
					<div class="flex justify-center">
						<a href="{{ path('app_goodbye') }}" class="btn btn-primary my-5 w-52">
							Choix par default
						</a>
					</div>
				</div>
				<div class="card w-full p-3 m-3">
        <h3>Choix particulier</h3>
        <div>Ce choix demande une modification explicite de votre part.</div>
					<div class="flex justify-center">
						<a href="{{ path('app_clause_choice') }}" class="btn btn-primary my-5 w-52">
							Choix particulier
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
